*{
    margin: 0px;
    padding: 0px;
}
 
nav{
    background-color: black;
}
.logo img {
    width: 200px;
}
.header-main{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 20px;
    color: white;
}
.items{
    display: flex;
   
}
.items li {
    margin-right: 15px;
}

/* Hero section start  */
.hero{ 
    background-image: url("./images/background.png"),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
    height: 100vh;
}
.hero img {
    width: 300px;
}

/* About us section start  */
.about-us{
    
    display: flex;
    flex-direction: row-reverse;
    color: white;
    align-items: center;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
    height: 100vh;
    color: black;
}
.about-us img{
    width: 300px;
    
}